In [ ]:
#Dhiraj Bandi, 700760856, ML Assignment
import pandas as pd

# Mounting my google drive in order to get the data.csv file that I uploaded in my drive
from google.colab import drive
drive.mount('/content/drive')

# Question 1. Read the provided CSV file ‘data.csv’
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data.csv')
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
# Question 2. Show the basic statistical description about the data
# Using pandas method describe to do the same
print("statistical description:")
print(df.describe())
#also finding the dtypes
print(df.dtypes)

statistical description:
         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000
Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [ ]:
# Question 3. Checking if the data has null values
print("Checking for null values:")
print(df.isnull().sum())
# 3a. Replace the null values with the mean
df = df.fillna(df.mean())
print("Data after replacing null values with mean:")
print(df)

Checking for null values:
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
Data after replacing null values with mean:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
# Question 4. Selecting two columns Pulse and Calories and aggregate the data using: min, max, count, mean
aggregated_data = df[['Pulse', 'Calories']].agg(['min', 'max', 'count', 'mean'])
print("Below is the Aggregated data for 'Pulse' and 'Calories':")
print(aggregated_data)

Below is the Aggregated data for 'Pulse' and 'Calories':
            Pulse     Calories
min     80.000000    50.300000
max    159.000000  1860.400000
count  169.000000   169.000000
mean   107.461538   375.790244

In [ ]:

# Question 5. Filter the dataframe to select the rows with calories values between 500 and 1000
filter = df[(df['Calories'] >= 500) & (df['Calories'] <= 1000)]
print("Rows with calories between 500 and 1000:")
print(filter)

Rows with calories between 500 and 1000:
     Duration  Pulse  Maxpulse  Calories
51         80    123       146     643.1
62        160    109       135     853.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
72         90    100       127     700.0
73        150     97       127     953.2
75         90     98       125     563.2
78        120    100       130     500.4
83        120    100       130     500.0
90        180    101       127     600.1
99         90     93       124     604.1
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3

In [ ]:

# Question 6. Filter the dataframe to select the rows with calories values > 500 and pulse < 100
filter2 = df[(df['Calories'] > 500) & (df['Pulse'] < 100)]
print("Rows with calories > 500 and pulse < 100:")
print(filter2)

Rows with calories > 500 and pulse < 100:
     Duration  Pulse  Maxpulse  Calories
65        180     90       130     800.4
70        150     97       129    1115.0
73        150     97       127     953.2
75         90     98       125     563.2
99         90     93       124     604.1
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3

In [ ]:

# Question 7. Creating a new “df_modified” dataframe that contains all the columns from df except for “Maxpulse”
df_modified = df.drop('Maxpulse', axis=1)
print("New dataframe without 'Maxpulse':")
print(df_modified)

New dataframe without 'Maxpulse':
     Duration  Pulse  Calories
0          60    110     409.1
1          60    117     479.0
2          60    103     340.0
3          45    109     282.4
4          45    117     406.0
..        ...    ...       ...
164        60    105     290.8
165        60    110     300.0
166        60    115     310.2
167        75    120     320.4
168        75    125     330.4

[169 rows x 3 columns]

In [ ]:
# Question 8. Deleting the “Maxpulse” column from the main df dataframe
df = df.drop('Maxpulse', axis=1)
print("Main dataframe after deleting 'Maxpulse':")
print(df)

Main dataframe after deleting 'Maxpulse':
     Duration  Pulse  Calories
0          60    110     409.1
1          60    117     479.0
2          60    103     340.0
3          45    109     282.4
4          45    117     406.0
..        ...    ...       ...
164        60    105     290.8
165        60    110     300.0
166        60    115     310.2
167        75    120     320.4
168        75    125     330.4

[169 rows x 3 columns]

In [ ]:
# Question 9. Converting the datatype of Calories column to int datatype
df['Calories'] = df['Calories'].astype(int)
print("Dataframe with 'Calories' column converted to int:")
print(df)

Dataframe with 'Calories' column converted to int:
     Duration  Pulse  Calories
0          60    110       409
1          60    117       479
2          60    103       340
3          45    109       282
4          45    117       406
..        ...    ...       ...
164        60    105       290
165        60    110       300
166        60    115       310
167        75    120       320
168        75    125       330

[169 rows x 3 columns]